@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
#devtools-indicator {
  display: none !important;
}
.shadow-lg{
  width: clamp(300px, 50vw, 800px);
  height: clamp(200px, 30vh, 600px);
  aspect-ratio: 4 / 3;
  outline: 2px double gray;
}