@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#devtools-indicator {
  display: none !important;
}

.linkCard {
  width: clamp(300px, 30vw, 800px);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(145, 145, 145, 0.627);
  backdrop-filter: blur(14.7px);
  -webkit-backdrop-filter: blur(14.7px);
  border: 1px solid rgba(255, 255, 255, 0.35);

  .imgCard {
    position: relative;
    width: 100% !important;
    height: auto;
    aspect-ratio: 4 / 3;

    img {
      object-fit: contain;
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.736));
    }
  }
}
canvas {
  width: 100% !important;
  height: auto !important;
  outline: 2px solid var(--foreground);
}